# Question 1
Q1. What is a database? Differentiate between SQL and NoSQL databases.

# Answer

The database is a collection of organized information that can easily be used, managed, update, and they are classified according to their organizational approach

. These databases are not suited for hierarchical data storage. . These databases have fixed or static or predefined schema . RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS) . Vertically Scalable

.These databases are best suited for hierarchical data storage. . These databases are not so good for complex queries. . Non-relational or distributed database system. . Horizontally scalable.

# question 2

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
# Answer

DDL stands for Data Definition Language. These commands are used to change the structure of a database and database objects.

CREATE: This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

We need to create a table for storing Student information of a particular College. 
CREATE TABLE Employee(  
    EmpId int,  
    LastName varchar(255),  
    FirstName varchar(255),  
    Address varchar(255),  
    City varchar(255)   
);
DROP:

This command is used to remove an existing table along with its structure from the Database.

If the College Authority wants to change their Database by deleting the Student_info Table. 
DROP TABLE Student_info;
ALTER: This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info
ADD CGPA number;
TRUCATE:

This command is used to remove all rows from the table, but the structure of the table still exists.

The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. 
TRUNCATE TABLE Student_info;.

# question 3 
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# Answer

DML stands for Data Manipulation Language. Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL, but a time comes when we actually want to execute some fairly complicated data interactions.

INSERT:

This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction.

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur'); 
UPDATE :

This command is used to alter existing table records. Within a table, it modifies data from one or more records.

UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini'; 
DELETE :
It deletes all archives from a table. This command is used to erase some or all of the previous tableâ€™s records.

DELETE FROM students

WHERE stu_id = '001'; 

# Question 4

Q4. What is DQL? Explain SELECT with an example.


# Answer
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it.

Select * from Student;

# question 5

Q5. Explain Primary Key and Foreign Key.

# Answer

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

Foreign Key: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

# Question 6

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method..


# Answer

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)
cursor() method: They are permanently connected to the connection, and all instructions are run in the context of the database session covered by the connection.

execute() method: used for the dynamic execution of Python programs which can either be a string or object code. If it is a string, the string is parsed as a suite of Python statements which is then executed unless a syntax error occurs and if it is an object code, it is simply executed.


# Question 7 

Q7. Give the order of execution of SQL clauses in an SQL query.

# Answer 
1.FROM clause 2.ON clause 3.OUTER clause 4.WHERE clause 5.GROUP BY clause 6.HAVING clause 7.SELECT clause 8.DISTINCT clause 9.ORDER BY clause 10.TOP clause